@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ProductCannabis";
}

<div class="text-center">
    <h4 class="display-5">Product Cannabis</h4>
</div>
<body>
    <div class="searchInput2"> 
      <label for="description" class="Label" >Product Name:</label>
      <input type="text" class="input2" id="description" name="description"/>
  </div>
</body>
<table id="productCannabis"></table>
<div id="jqGridPager"></div>

@section scripts {
<script type="text/javascript">

    $.jgrid.defaults.styleUI = 'Bootstrap';
    $.jgrid.defaults.responsive = true;

    $(document).ready(function() {
            $("#productCannabis").jqGrid({
               url: 'ProductCannabis/GetAll',
               mtype: "GET",
               guiStyle: "bootstrap",
               iconSet: "fontAwesome",
               idPrefix: "gb1_",
               datatype: "json",
               ajaxSelectOptions: {
                          type: "GET", 
                          contentType: 'application/json; charset=utf-8',
                          dataType: "json",
                          cache: false,
                      },
               autowidth:true,
               colModel: [
                   {
                        label: "Edit Actions",
                        name: "actions",
                        width: 100,
                        fixed:true,
                        formatter: "actions",
                        formatoptions: {
                            keys: true,
                            editOptions: { },
                            addOptions: { },
                            delOptions: { url: 'ProductCannabis/Delete' }
                        }
                    },
                   { label: 'Product SKU',name: 'sku',fixed:true,width:110, editable: true, edittype:"text", editoptions: { maxlength: 50}, editrules: { required: true }},

			       { label: 'Product Name 1',name: 'description',fixed:true,width:300, editable: true, edittype:"text", editoptions: { maxlength: 150}, editrules: { required: true }},

                   { label: 'Product Name 2', name: 'description2', fixed: true, width: 300, editable: true, edittype: "text", editoptions: { maxlength: 150 }, editrules: { required: true } },

 			       { label: 'Product Id',name: 'productId',fixed:true,width:100, editable: true, edittype:"text", editoptions: { readonly: 'readonly'}, key: true},

                   { label: 'Supplier',name: 'supplierId',fixed:true,width:300, editable: true, edittype:"select",formatter: 'select', editoptions: {value: getSupplierNames()}},

                 ], 
               viewrecords: true,
               height: 500,
               rowNum: 20,
               pager: "#jqGridPager",
               editurl: 'ProductCannabis/Update'
               //onSelectRow: editRow, // the javascript function to call on row click. will use to put the row in edit mode

           }).hideCol("productId");
               



           $('#productCannabis').navGrid('#jqGridPager',
               // the buttons to appear on the toolbar of the grid
               { edit: false, add: true, del: false, search: false, refresh: false, view: false, position: "left", cloneToTop: false },
               // options for the Add Dialog
               {},
               {
                   closeAfterAdd: true,
                   recreateForm: true,
                   errorTextFormat: function (data) {
                       return 'Error: ' + data.responseText
                   },
                   url: "ProductCannabis/Add"
               });

       });

        $('#productCannabis').setGridWidth(parseInt($(window).width()) - 20);

       $("#description").on('change keyup paste', function () {
           SearchByProductName();
       });

    function SearchByProductName()
    {
        //  Fetch the text from our <input> control
        var searchString = $("#description").val();

        //  Prepare to pass a new search filter to our jqGrid
        var f = { groupOp: "AND", rules: [] };

        //  Remember to change the following line to reflect the jqGrid column you want to search for your string in
        //  In this example, I'm searching through the UserName column.

        f.rules.push({ field: "name", op: "cn", data: searchString });

            var grid = $('#productCannabis');
        grid[0].p.search = f.rules.length > 0;
        
        $.extend(grid[0].p.postData, { filters: JSON.stringify(f) });
        grid.trigger("reloadGrid", [{ page: 1 }]);
    }

        function getSupplierNames() {
          var SupplierList= {};

        $.ajaxSetup( { "async": false } );
        $.getJSON('ProductCannabis/CreateList', function(data) {
        if (data != null) {
            for (var i = 0; i < data.length; i++) {
             SupplierList[data[i].value]=data[i].text;
              } 
            }//if

            });
            $.ajaxSetup( { "async": true } );
           return SupplierList; 

        }


        
</script>
}