@using System.Security.Claims
@model WETT.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Html.DisplayFor(model => model.Name)</h1>
    <p>Version 0.0.1</p>
@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
