@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CannabisOrderEntry";
}

<div class="text-center">
    <h4 class="display-5">Cannabis Order Entry</h4>
</div>
<body>
    <div class="searchDate">
        <label for="dateOrdered" class="Label">Date Ordered:</label>
        <input type="date" id='dateOrdered' class="Date" name="dateOrdered" />
    </div>
    <div class="Gap66"></div>
    <div class="searchDate">
        <label for="receivedDate" class="Label">Received Date:</label>
        <input type="date" id='receivedDate' class="Date" name="receivedDate" />
    </div>
    <div class="Gap66"></div>
    <div class="searchInput220">
        <label class="Label" for="orderNumber">Order #:</label>
        <input type="text" class="input" id="orderNumber" />
    </div>
    <div class="Gap2"></div>
    <div class="searchInput220">
        <label class="Label" for="specialInstructions">Special Notes:</label>
        <input type="text" class="input" id="specialInstructions" />
    </div>
    <div></div>
    <div class="searchDate">
        <label for="shippedDate" class="Label">Shipped Date:</label>
        <input type="date" id='shippedDate' class="Date" name="shippedDate" />
    </div>
    <div class="Gap66"></div>
    <div class="searchInput220">
        <label for="customer" class="Label">Customer:</label>
        <select class="searchDropdown2 selectpicker" id="customer" data-live-search="true"></select>
    </div>
@*
    <div class="searchInput220">
        <label for="customer" class="Label">Customer:</label>
        <input type="text" class="input" id="customer" autocomplete="off" />
    </div>*@
    <div class="Gap2"></div>
    <div class="searchDropdown2">
        <label for="supplier" class="Label">Supplier:</label>
        <select class="form-control dropDownInput2"  id="supplier" name="Supplier"></select>
    </div>
    <div class="searchDropdown">
        <label for="customerOrderStatus" class="Label">Order Status:</label>
        <select class="form-control dropDownInput" id="customerOrderStatus" name="customerOrderStatus"></select>
    </div>

</body>
<table id="CannabisOrderEntry"></table>
<div id="jqGridPager"></div>
<fieldset class="scheduler-border">
    <div class="mb-3 row">
        <div class="col-lg-12">
            <button class="btn btn-secondary btn-lg btn-block" style="font-size:12px;" id="newPage" type="button"> New Page </button>
        </div>
    </div>
</fieldset>
@section scripts {

    <script type="text/javascript">

        $.jgrid.defaults.styleUI = 'Bootstrap';
        $.jgrid.defaults.responsive = true;
        var curRowId = -1;
        var customerList=[];
        var productList =[];
        var productIdList = [];
        var currProduct;
        $(document).ready(function () {
            $("#CannabisOrderEntry").jqGrid({
                url: 'CannabisOrderEntry/GetAll',
                mtype: "GET",
                guiStyle: "bootstrap",
                iconSet: "fontAwesome",
                idPrefix: "gb1_",
                datatype: "json",
                ajaxSelectOptions: {
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    cache: false,
                },
                autowidth: true,
                colModel: [

                    {
                        label: "Edit Actions",
                        name: "actions",
                        width: 100,
                        formatter: "actions",
                        fixed: true,
                        formatoptions: {
                            keys: true,
                            editOptions: {},
                            addOptions: {},
                            delOptions: { url: 'CannabisOrderEntry/Delete' }
                        }
                    },
                    { label: 'Customer Order Detail Id', name: 'customerOrderDtlsID', hidden: true, editable: true, editoptions: { readonly: 'readonly' }, key: true },
                    { label: 'Customer Order Id', name: 'customerOrderID', hidden: true, editable: true, editoptions: { readonly: 'readonly' } },
                    {
                        label: 'Product Desc', name: 'productDesc', fixed: true, width: 300, editable: true, editrules: { required: true, custom: true, custom_func: IsProduct },
                        editoptions: {
                            dataInit: function (elem) {
                                curRowId = $('#CannabisOrderEntry').getGridParam('selrow');
                                $(elem).select();
                                name=$("#supplier").val();
                                $(elem).autocomplete({
                                    source: getProductName(), autoFocus: true, minLength: 0, select: function (event, ui) {
                                       // $('#CannabisOrderEntry').jqGrid('setCell', curRowId, 'productID', getProductList(ui.item.value));
                                        $('input#productID').val(getProductList(ui.item.value));
                                        //$("#CannabisOrderEntry").jqGrid('setColProp', 'productSku', { editable: false });
                                       // $("#CannabisOrderEntry").setCell(curRowId, 'productSku', getProductSku(ui.item.value));                                   
                                    }

                                });
                            }
                        }
                    },
                   // { label: 'Product Sku', name: 'productSku',editable: true, fixed: true, editype: 'text', width: 125, edittype: 'text', editoptions: { readonly: 'readonly' }},
                   { label: 'Product ID', name: 'productID', editable: true, hidden:true,editype: 'text', editoptions: { readonly: 'readonly' } },
                    { label: 'Qty Ordered', name: 'qtyOrdered', fixed: true, width: 100, editable: true, edittype: 'text'},//, editrules: { number: true } },
                   // { label: 'Qty Fulfilled',name: 'qtyFulfilled',fixed:true,width:100, editable: true,edittype:'text',editrules: {number:true}},
                    { label: 'Notes', name: 'notes', editable: true, fixed: true, width: 500, edittype: 'text' }

                ],
                viewrecords: true,
                height: 388.5,
                rowHeight: 20,
                rowNum: 15,
                pager: "#jqGridPager",
                editurl: 'CannabisOrderEntry/Update',

            });



            $('#CannabisOrderEntry').navGrid('#jqGridPager',
                // the buttons to appear on the toolbar of the grid
                { edit: false, add: true, del: false, search: false, refresh: false, view: false, position: "left", cloneToTop: false },

                {
                },
                {
                    zIndex: 99,
                    afterShowForm: function () {
                        var idSelector = $.jgrid.jqID(this.p.id);
                        var customer = $("#customer").val();
                        var isCustomer = false;
                        for (var i = 0; i < customerList.length; i++) {
                            if (customer == customerList[i]) {
                                        isCustomer = true;
                            }
                        }
                        if (isCustomer == false) {
                            $.jgrid.hideModal("#editmod" + idSelector, { gbox: "#gbox_" + idSelector });
                            alert("Error: Need Actual Customer");
                        }
                    },
                    //onclickSubmit: function (){
                    //},
                    afterSubmit: function () {
                    },
                    beforeSubmit: function () {
                        var customerOrderStatus = $("#customerOrderStatus").val();
                        var dateOrdered="";
                        var dateReceived="";
                        var shippingDate="";
                        if(customerOrderStatus==1){
                            dateOrdered = $("#dateOrdered").val();
                        }else if (customerOrderStatus==6){
                            dateOrdered = $("#dateOrdered").val();
                            dateReceived = $("#receivedDate").val();
                        }else {
                            dateOrdered = $("#dateOrdered").val();
                            dateReceived = $("#receivedDate").val();
                            shippingDate = $("#shippingDate").val();
                        }
                        var customer = $("#customer").val();
                        var orderNumber = $("#orderNumber").val();
                        var specialInstructions = $("#specialInstructions").val();
                        var supplier = $("#supplier").val();
                        $.ajaxSetup({ "async": false });
                        $.getJSON('CannabisOrderEntry/CreateHeader?data=' + customer + '/' + orderNumber + '/' + dateOrdered + '/' + customerOrderStatus +'/' + specialInstructions +  '/' + supplier + '/' + dateReceived, function () { });
                        $.ajaxSetup({ "async": true });
                    },
                    closeAfterAdd: true,
                    recreateForm: true,
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    },

                    url: 'CannabisOrderEntry/Add'
                });

        });
        //$('.basicAutoSelect').autoComplete({
        //    minLength: 1,
        //    autoSelect: true,
        //    select: function (event, ui) {
        //        console.log(ui.item.id);
        //        return false;
        //    }
        //});
        //$("#customer").autocomplete({
        //    source: getCustomer()
        //});
        $(document).ready(function () {
            $('#dateOrdered').val(date());
            $("#receivedDate").prop("readonly", true);
            $("#shippedDate").prop("readonly", true);
            var test = getCustomer();
        });
        $("#newPage").on('click', function () {
            window.location.replace("CannabisOrderEntry");
        });
        $("#customerOrderStatus").on('change', function () {
            var customerOrderStatus = $("#customerOrderStatus").val();
            if (customerOrderStatus == 1) {
                $('#dateOrdered').val(date());
                $('#receivedDate').val("yy-MM-dd");
                $('#shippedDate').val("yy-MM-dd");
                $("#receivedDate").prop("readonly", true);
                $("#shippedDate").prop("readonly", true);
                $("#dateOrdered").prop("readonly", false);
                console.log($('#test').val());
            } else if (customerOrderStatus == 6) {
                $('#dateOrdered').val(date());
                $('#receivedDate').val(date());
                $('#shippedDate').val("yy-MM-dd");
                $("#receivedDate").prop("readonly", false);
                $("#shippedDate").prop("readonly", true);
                $("#dateOrdered").prop("readonly", false);
            } else {
                $('#dateOrdered').val(date());
                $('#receivedDate').val(date());
                $('#shippedDate').val(date());
                $("#receivedDate").prop("readonly", false);
                $("#shippedDate").prop("readonly", false);
                $("#dateOrdered").prop("readonly", false);
            }
        });
        $('#CannabisOrderEntry').setGridWidth(parseInt($(window).width()) - 20);
        $("#newPage").on('click', function () {
            window.location.replace("CannabisOrderEntry");
        });
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "CannabisOrderEntry/CreateCustomerOrderStatusList",
                data: "{}",
                success: function (data) {
                    var s = '';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                    }
                    $("#customerOrderStatus").html(s);
                }
            });
        });
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "CannabisOrderEntry/CreateSupplierList",
                data: "{}",
                success: function (data) {
                    var s = '';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                    }
                    $("#supplier").html(s);
                }
            });
        });
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "CannabisOrderEntry/CreateCustomerList",
                data: "{}",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#customer").append('<option value="' + data[i].value + '">' + data[i].text + '</option>');
                    }
                    $("#customer").selectpicker("refresh");
                }
            });
        });
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "CannabisOrderEntry/SaCode",
                data: "{}",
                success: function (data) {
                    if (data != null) {
                        $("#customer").val(data.customer);
                        $('#orderNumber').val(data.orderNumber);
                        $('#customerOrderStatus').val(data.customerOrderStatus);
                        $('#specialInstructions').val(data.specialInstructions);
                        $('#supplier').val(data.supplier);
                        if(data.customerOrderStatus==1) {
                            $('#receivedDate').val(data.dateReceived);
                        } else if (data.customerOrderStatus) {
                            $('#receivedDate').val(data.dateReceived);
                            $('#dateOrdered').val(data.dateOrdered);
                        } else if (data.customerOrderStatus) {
                            $('#shippedDate').val(data.shippedDate);
                            $('#dateOrdered').val(data.dateOrdered);
                            $('#receivedDate').val(data.dateReceived);
                        }
                        
                    }
                }
            });
        });
        function date() {
            var date;
            var currentDate = new Date();
            var day = ("0" + currentDate.getDate()).slice(-2);
            var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
            var today = currentDate.getFullYear() + "-" + (month) + "-" + (day);
            date = today.toString();
            return date;
        }
        function IsProduct(value, colname) {
            //////////////////////////////////////////////////////////////////////////pass supplier list lower product list size//////////////////////////////////////////////////////////////////////////////
            var containsProduct = false;
            $.ajaxSetup({ "async": false });
            $.getJSON('CannabisOrderEntry/CreateProductName', function (data) {
                if (data != null) {


                    for (var i = 0; i < data.length; i++) {
                        if (value == data[i].value) {

                            containsProduct = true;

                        }
                    }
                }//if

            });
            if (containsProduct == true) {
                $.ajaxSetup({ "async": true });
                return [true, ""];
            }
            else {
                $.ajaxSetup({ "async": true });
                return [false, "Please Enter Valid Product"];
            }

        }

        //function getCustomer() {
        //    var CustomerList = [];
        //    $.ajaxSetup({ "async": false });
        //    $.getJSON('CannabisOrderEntry/CreateCustomerList', function (data) {
        //        if (data != null) {
        //            for (var i = 0; i < data.length; i++) {
        //                CustomerList[data[i].value] = data[i].text;

        //            }
        //        }//if

        //    });
        //    $.ajaxSetup({ "async": true });
        //    console.log(CustomerList);
        //    return CustomerList;

        //}
        function getCustomer() {
            var CustomerList = [];
            var List = [];
            $.ajaxSetup({ "async": false });
            $.getJSON('CannabisOrderEntry/CreateCustomerList', function (data) {
                
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        CustomerList[i] = data[i].value;
                       }
                }//if

            });
            $.ajaxSetup({ "async": true });
            customerList = CustomerList;
            return CustomerList;

        }
        function getCustomerOrderStatus() {
            var CustomerOrderStatusList = {};
            $.ajaxSetup({ "async": false });
            $.getJSON('CannabisOrderEntry/CreateCustomerOrderStatusList', function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        CustomerOrderStatusList[data[i].value] = data[i].text;

                    }
                }//if

            });
            $.ajaxSetup({ "async": true });

            return CustomerOrderStatusList;

        }
        function getProductSku(value) {
            var ProductSku = "";
            $.ajaxSetup({ "async": false });
            $.getJSON('CannabisOrderEntry/CreateProductSkuList', function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].value == value) {

                            ProductSku = data[i].text;
                        }
                    }
                }//if

            });
            $.ajaxSetup({ "async": true });
            return ProductSku.toString();

        }
        //sets product Id
        function getProductList(value) {
            var ProductList ="" ;
            $.ajaxSetup({ "async": false });
            $.getJSON('CannabisOrderEntry/CreateProductName', function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].value == value) {
                            ProductList = data[i].label;
                        }
                    }
                }//if

            });
            $.ajaxSetup({ "async": true });
            return ProductList.toString();

        }
        ////function getProductList(value) {
        ////    var isProduct = false;
        ////    var productId ="";
        ////    for(var i=0; i<productList.length;i++){
        ////        if (productList[i] == value) {
        ////            productId = productIdList[i];
        ////        }
        ////    }
        ////    return productId.toString();

        ////}
        function getProductName() {
            var ProductNameList = [];
            //must be false if wanted to run sequentially
            $.ajaxSetup({ "async": false });
            $.getJSON('CannabisOrderEntry/CreateProductName', function (data) {
                if (data != null) {
                    productList =data;
                    var count=0;
                    for (var i = 0; i < data.length; i++) {
                        if (name == data[i].supplier) {
                            ProductNameList[count] = data[i].value;
                            productIdList[count]= data[i].label;
                            count++;
                        }
                    }
                }//if

            });
            $.ajaxSetup({ "async": true });
            productList = ProductNameList;

            return ProductNameList;

        }

    </script>
}

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>