@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Suppliers";
}

<div class="text-center">
    <h4 class="display-5">Maintain Suppliers</h4>
</div>
<body>
    <div class="Notes">
        <label for="supplierName" class="Label">Supplier Name:</label>
        <input type="text" class="NotesInput" id="supplierName" name="supplierName" />
    </div>
    <div class="Gap2"></div>
@*    <div class="searchDropdown2">
        <label for="lob" class="Label">Line Of buss:</label>
        <select class="form-control dropDownInput2" id="lob" name="lob"></select>
    </div>*@
</body>
<table id="supplier"></table>
<div id="jqGridPager"></div>

@section scripts {
<script type="text/javascript">

    $.jgrid.defaults.styleUI = 'Bootstrap';
    $.jgrid.defaults.responsive = true;

    $(document).ready(function() {
       $("#supplier").jqGrid({
               url: 'Supplier/GetAll',
               mtype: "GET",
               guiStyle: "bootstrap",
               iconSet: "fontAwesome",
               idPrefix: "gb1_",
               datatype: "json",
               autowidth:true,
               colModel: [
                   {
                        label: "Edit Actions",
                        name: "actions",
                        width: 125,
                        fixed:true,
                        formatter: "actions",
                        formatoptions: {
                            keys: true,
                            editOptions: { },
                            addOptions: { },
                            delOptions: { url: 'Supplier/Delete' }
                        }
                    },
                   { label: 'Supplier Id', name: 'supplierId', editable: true, editoptions: { readonly: 'readonly' }, key: true},
                   { label: 'Supplier Code', name: 'supplierCode',fixed:true, editable: true,width:120,editrules: { required: true }, edittype:"text",editoptions: {maxlength: 15}},
                   { label: 'Supplier Name', name: 'name',fixed:true, editable: true,width:300, edittype:"text",editrules: { required: true },editoptions: {maxlength: 100} },
                   { label: 'Address1', name: 'address1',fixed:true, editable: true,width:150, edittype:"text",editrules: { required: true },editoptions: {maxlength: 100} },
                   { label: 'Address2', name: 'address2',fixed:true,editable: true,width:150, edittype:"text",editoptions: {maxlength: 100} },
                   { label: 'City', name: 'city',fixed:true,editable: true,width:100,edittype:"text",editoptions: {maxlength: 100} },
                   { label: 'Province', name: 'province',fixed:true,editable: true,width:80, edittype:"text",editoptions: {maxlength: 50} },
                   { label: 'Postal Code', name: 'postalCode',fixed:true,editable: true,width:100, edittype:"text",editoptions: {maxlength: 12} },
                   { label: 'General Phone', name: 'generalPhone',fixed:true,editable: true, width:100,edittype:"text",editrules:{custom:true, custom_func:IsPhoneNumber, number:true}},
                   { label: 'Contact 1 Name', name: 'contact1Name',fixed:true,editable: true, width:150,edittype:"text",editoptions: {maxlength: 100} },
                   { label: 'Contact 1 Phone 1 ', name: 'contact1Phone1',fixed:true,editable: true,edittype:"text",width:120,editrules:{custom:true, custom_func:IsPhoneNumber, number:true, required: false} },
                   { label: 'Contact 1 Phone 2 ', name: 'contact1Phone2',fixed:true,editable: true,edittype:"text",width:120,editrules:{custom:true, custom_func:IsPhoneNumber, number:true, required: false} },
                   { label: 'Contact 2 Name', name: 'contact2Name',fixed:true, edittype:"text",edittable: true, width:150,editoptions: {maxlength: 100} },
                   { label: 'Contact 2 Phone 1 ', name: 'contact2Phone1',fixed:true,edittype:"text",editable: true,width:120,editrules:{custom:true, custom_func:IsPhoneNumber, number:true, required: false} },
                   { label: 'Contact 2 Phone 2 ', name: 'contact2Phone2',fixed:true,editable: true,edittype:"text",width:120,editrules:{custom:true, custom_func:IsPhoneNumber, number:true, required: false} }
               ],
               viewrecords: true,
               height: 500,
               rowNum: 20,
               pager: "#jqGridPager",
               editurl: 'Supplier/Update'
               //onSelectRow: editRow, // the javascript function to call on row click. will use to put the row in edit mode
               
           }).hideCol("supplierId");


           $('#supplier').navGrid('#jqGridPager',
               // the buttons to appear on the toolbar of the grid
               { edit: false, add: true, del: false, search: false, refresh: false, view: false, position: "left", cloneToTop: false },
               // options for the Add Dialog
               {},
               {
                   closeAfterAdd: true,
                   recreateForm: true,
                   errorTextFormat: function (data) {
                       return 'Error: ' + data.responseText
                   },
                   url: "Supplier/Add"
               });

       });
        
        $('#supplier').setGridWidth(60);         
       $("#supplierName").on('change keyup paste', function () {
           SearchBySupplierName();
       });
      //$(document).ready(function () {
      //              var s = '';
      //              s += '<option value="0"> Liquor </option>';
      //              s += '<option value="1"> Cannabis </option>';
      //      $("#lob").html(s);
      //  });
        //$("#lob").on('change', function () {
        //    var currentLob = $("#lob").val();
        //       $.ajaxSetup( { "async": false } );
        //       $.getJSON('Supplier/SelectLob?data=' + currentLob, function () { });
        //       $.ajaxSetup( { "async": true } ); 
        //       $("#supplier").trigger("reloadGrid");
        //});

    function SearchBySupplierName()
    {
        //  Fetch the text from our <input> control
        var searchString = $("#supplierName").val();

        //  Prepare to pass a new search filter to our jqGrid
        var f = { groupOp: "AND", rules: [] };

        //  Remember to change the following line to reflect the jqGrid column you want to search for your string in
        //  In this example, I'm searching through the UserName column.

        f.rules.push({ field: "name", op: "cn", data: searchString });

        var grid = $('#supplier');
        grid[0].p.search = f.rules.length > 0;
        $.extend(grid[0].p.postData, { filters: JSON.stringify(f) });
        grid.trigger("reloadGrid", [{ page: 1 }]);
    }
    
      function IsPhoneNumber(value,colname)
       {
            var phoneNum = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
         //if (value.length < 10 || value.length >11)
         if(!value.match(phoneNum) || value.length !=10)

         {
              return [false,"Please enter valid phone number"];
         }
                else 
                {
             return [true,""];
                }
      }

</script>
}