button.btn.dropdown-toggle.btn-light {
    font-size: 12px !important;
}
.searchDate {
    width:210px;
    display: inline-block;
}
.Date {
    height: 25px;
    font-size: 12px;
    width: 110px;
    border: 1px solid black;
    border-radius: 8px;
    align-items: end;
    text-align:center;
}
.searchInput {
    width: 210px;
    display: inline-block;
}
/*.bootstrap-select {
    width: 100px !important;
    background: #FFF;
    color: #000;
}*/
div.dropdown.bootstrap-select.searchDropdown2 {
    border-width: 1px;
    text-align: left;
    width: 110px !important;

}
.input {
    border: 1px solid black;
    border-radius: 8px;
    border-width: 1px;
    text-align: left;
    width: 110px !important;
    height: 30px;
    font-size: 12px;
}
.searchInput2 {
    width: 900px;
    display: inline-block;
}
.input2 {
    border: 1px solid black;
    border-radius: 8px;
    border-width: 1px;
    text-align: left;
    width: 800px;
    height: 30px;
    font-size: 12px;
}
.searchInput220 {
    width: 230px;
    display: inline-block;
}


.searchInput3 {
    width: 150px;
    display: inline-block;
}
.input3 {
    border: 1px solid black;
    border-radius: 8px;
    border-width: 1px;
    text-align: left;
    width: 110px;
    height: 30px;
    font-size: 12px;
}
.Label {
    font-size: 12px;
    width: 90px;
}

.Labelshort {
    font-size: 12px;
    width: 70px;
}
.Labelshort2 {
    font-size: 12px;
    width: 85px;
}
.Gap1 {
    width:10px;
    display:inline-block;
}
.Gap66 {
    width: 66px;
    display: inline-block;
}
.Gap67 {
    width: 56px;
    display: inline-block;
}
.Gap2 {
    width: 45px;
    display: inline-block;
}

.Gap3 {
    width: 80px;
    display: inline-block;
}
.Gap41 {
    width: 115px;
    display: inline-block;
}
.Gap42 {
    width: 95px;
    display: inline-block;
}
.Gap4 {
    width: 120px;
    display: inline-block;
}
.Gap5 {
    width: 155px;
    display: inline-block;
}
.Gap55 {
    width: 55px;
    display: inline-block;
}
.Gap6 {
    width: 205px;
    display: inline-block;
}
.Gap7 {
    width: 240px;
    display: inline-block;
}

.Notes {
    width: 425px;
    display: inline-block;
}
.NotesInput {
    height: 30px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 8px;
    width: 325px;
    align-items: end;

}
.SaCode {
    width: 170px;
    display: inline-block;
}

.SaCodeInput {
    border-width: 1px;
    text-align: right;
    width: 75px;
    padding-right: 0em;
    margin-right: 0px;
    background: lightgrey;
    font-size: 12px;
    height: 30px;
}
.searchDropdown {
    width: 210px;
    display: inline-block;
}

.dropDownInput {
    display: inline-block;
    border-width: 1px;
    text-align: left;
    width: 110px;
    font-size: 12px;
}
.searchDropdown2 {
    width: 280px !important;
    display: inline-block;
}

.dropDownInput2 {
    display: inline-block;
    border-width: 1px;
    text-align: left;
    width: 180px !important;
    font-size: 12px;
}
.checkboxLabel {
    font-size: 12px;
    width: 50px;
}
.checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
}
.checkboxInput {
    border-width: 1px;
    float:right;
    width: 30px;
    font-size: 12px;
}

.inline-button {
    _width: 12em;
    font-size:12px;
    margin: 0 0.2em;
    padding: 0.1em 0;
    _padding: 0;
    border: 1px solid black;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    background: #ccc;
    color: black;
}

    .inline-button em {
        _width: 1em;
        _cursor: hand;
        font-style: normal;
        margin: 0;
        padding: 0.1em 0.5em;
        background: white;
        color: black;
    }

    .inline-button span {
        _width: 1em;
        _cursor: hand;
        margin: 0;
        padding: 0.1em 0.5em 0.1em 0.3em;
    }

    .inline-button:hover {
        background: #666;
        color: white;
    }

        .inline-button:hover em {
            background: black;
            color: white;
        }