@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "saDamageRecoup";
}

<div class="text-center">
    <h1 class="display-4">Stock Adjustment- Damage/Recoup</h1>
</div>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search</legend>
    <div class="input-group mb-3">
        <label for="date">Transaction Date:</label>
        <input type="date" id="date" name="date">
        <input type="text" class="form-control" placeholder="ProductName" aria-label="ProductName" aria-describedby="basic-addon2" id="productName">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
        <input type="text" class="form-control" placeholder="SA Code:" aria-label="SA Code:" aria-describedby="basic-addon2" id="saCode">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
</fieldset>

<table id="saDamageRecoup" style="align: center"></table>
<div id="jqGridPager"></div>

@section scripts {
<script type="text/javascript">

    $.jgrid.defaults.styleUI = 'Bootstrap';
    $.jgrid.defaults.responsive = true;

    var curRowId = -1;
    var name="";
    $(document).ready(function() {
       $("#saDamageRecoup").jqGrid({
               url: 'SaDamageRecoup/GetAll',
               mtype: "GET",
               guiStyle: "bootstrap",
               iconSet: "fontAwesome",
               idPrefix: "gb1_",
               datatype: "json",
               ajaxSelectOptions: {
                          type: "GET", 
                          contentType: 'application/json; charset=utf-8',
                          dataType: "json",
                          cache: false,
                      },
               autowidth:true,
               colModel: [
                   {
                        label: "Edit Actions",
                        name: "actions",
                        width: 100,
                        formatter: "actions",
                        fixed:true,
                        formatoptions: {
                            keys: true,
                            editOptions: { },
                            addOptions: { },
                            delOptions: { url: 'SaDamageRecoup/Delete' }
                        }
                    },
                   { label: 'Inventory Tx Detail Id',name: 'inventoryTxDetailId', editable: true, edittype:"text", hidden:true,editoptions: { readonly: 'readonly'},key:true},
                   { label: 'Sa Code',name: 'saCode', editable: true, edittype:"text", hidden:true,editoptions: { readonly: 'readonly'}},
                   { label: 'Date',name: 'date',fixed:true, edittype:"text", hidden:true,editoptions: { readonly: 'readonly'}},
                   { label: 'Supplier',name: 'supplierName',fixed:true, editable: true, edittype:"select",formatter:'select', editoptions: {value:getSupplierNames(),                
                   dataInit: function (elem) {
                    name = $(elem).val();
                    $('#saDamageRecoup').setColProp('productSku', { editoptions: { value:getProductSku()} });
                    $('#saDamageRecoup').setColProp('productId', { editoptions: { value:getProductName()} });
                   console.log(name);
                    },
                       dataEvents: [
                    {
                        type: 'change',
                        fn: function(e) {
                       name =$('#saDamageRecoup').jqGrid ('getCell', curRowId, 'supplierName');
                      $('#saDamageRecoup').setColProp('productSku', { editoptions: { value:getProductSku()} });
                      $('#saDamageRecoup').setColProp('productId', { editoptions: { value:getProductName()} });
                       jQuery("saDamageRecoup").trigger('reloadGrid');
                       console.log(name);
                       
                        }
                    }
                       ]
                    }},
                   { label: 'Product Sku',name: 'productSku',fixed:true, editable: true,edittype:"select",formatter:'select'},
                   { label: 'Product Name',name: 'productId',fixed:true, editable: true, edittype:"select",formatter:'select',editoptions:{value:getProductName()}},
                   { label: 'Locations',name: 'inventoryLocationId',fixed:true, editable: true, edittype:"select",formatter:'select', editoptions:{value:getLocation()}},
                   { label: 'Adjusted Stock',name: 'amount',fixed:true, editable: true, edittype:"text"},
                   { label: 'Reasons',name: 'inventoryTxReasonId',fixed:true, editable: true, edittype:"select",formatter:'select', editoptions:{value:getReasons()}},
                   { label: 'Notes',name: 'comments',fixed:true, editable: true, edittype:"text"}

                 ], 
               viewrecords: true,
               height: 250,
               rowNum: 20,
               pager: "#jqGridPager",
               editurl: 'SaDamageRecoup/Update',
               onSelectRow: function(rowid) {
                curRowId=rowid;


               }

           })
               



           $('#saDamageRecoup').navGrid('#jqGridPager',
               // the buttons to appear on the toolbar of the grid
               { edit: false, add: true, del: false, search: false, refresh: false, view: false, position: "left", cloneToTop: false },
               // options for the Add Dialog
               {
                  
               },
               {
                   closeAfterAdd: true,
                   recreateForm: true,
                   errorTextFormat: function (data) {
                       return 'Error: ' + data.responseText
                   },
                   url: "SaDamageRecoup/Add"
               });

       });
       $('#saDamageRecoup').setGridWidth(parseInt($(window).width()) - 20);
       $("#comments").on('change keyup paste', function () {
           SearchByProductName();
       });
       $("#date").on('change keyup paste', function () {
           SearchByDate();
           
       }); 
            $("#saCode").on('change keyup paste', function () {
           SearchBySaCode();
        });
    function SearchByProductName()
    {
        //  Fetch the text from our <input> control
        var searchString = $("#productName").val();
        
        //  Prepare to pass a new search filter to our jqGrid
        var f = { groupOp: "AND", rules: [] };

        //  Remember to change the following line to reflect the jqGrid column you want to search for your string in
        //  In this example, I'm searching through the UserName column.

        f.rules.push({ field: "productName", op: "cn", data: searchString });

        var grid = $('#saDamageRecoup');
        grid[0].p.search = f.rules.length > 0;
        $.extend(grid[0].p.postData, { filters: JSON.stringify(f) });
        grid.trigger("reloadGrid", [{ page: 1 }]);
    }
        function SearchBySaCode()
    {
        //  Fetch the text from our <input> control
        var searchString = $("#saCode").val();
        
        //  Prepare to pass a new search filter to our jqGrid
        var f = { groupOp: "AND", rules: [] };

        //  Remember to change the following line to reflect the jqGrid column you want to search for your string in
        //  In this example, I'm searching through the UserName column.

        f.rules.push({ field: "saCode", op: "cn", data: searchString });

        var grid = $('#saDamageRecoup');
        grid[0].p.search = f.rules.length > 0;
        $.extend(grid[0].p.postData, { filters: JSON.stringify(f) });
        grid.trigger("reloadGrid", [{ page: 1 }]);
    }
        function SearchByDate()
    {
        //  Fetch the text from our <input> control
        var searchString = $("#date").val();
        
        //  Prepare to pass a new search filter to our jqGrid
        var f = { groupOp: "AND", rules: [] };

        //  Remember to change the following line to reflect the jqGrid column you want to search for your string in
        //  In this example, I'm searching through the UserName column.

        f.rules.push({ field: "date", op: "cn", data: searchString });

        var grid = $('#saDamageRecoup');
        grid[0].p.search = f.rules.length > 0;
        $.extend(grid[0].p.postData, { filters: JSON.stringify(f) });
        grid.trigger("reloadGrid", [{ page: 1 }]);
    }

            function getSupplierNames() {
        var SupplierList= {};
        $.ajaxSetup( { "async": false } );
        $.getJSON('SaDamageRecoup/CreateList', function(data) {
        if (data != null) {
            
            for (var i = 0; i < data.length; i++) {
             SupplierList[data[i].text]=data[i].text;
              } 
            }//if

            });
            $.ajaxSetup( { "async": true } );
           return SupplierList; 

        }

              function getProductSku() {
        var ProductSkuList= {};
        $.ajaxSetup( { "async": false } );
        $.getJSON('SaDamageRecoup/CreateProductSkuList', function(data) {
        if (data != null) {
            for (var i = 0; i < data.length; i++) {
                if(data[i].value == name)
                {
             ProductSkuList[data[i].text]=data[i].text;
                } 
              }
            }//if

            });
            $.ajaxSetup( { "async": true } );

           return ProductSkuList; 

        }

                function getProductName() {
        var ProductNameList= {};
        $.ajaxSetup( { "async": false } );
        $.getJSON('SaDamageRecoup/CreateProductName', function(data) {
        if (data != null) {
            for (var i = 0; i < data.length; i++) {
                if(data[i].value == name || name =="")
                {
             ProductNameList[data[i].id]=data[i].text;
                } 
              }
            }//if

            });
            $.ajaxSetup( { "async": true } );

           return ProductNameList; 

        }
         function getLocation() {
        var LocationList= {};
        $.ajaxSetup( { "async": false } );
        $.getJSON('SaDamageRecoup/CreateLocationList', function(data) {
        if (data != null) {
            for (var i = 0; i < data.length; i++) {
             LocationList[data[i].value]=data[i].text;
                 
              }
            }//if

            });
            $.ajaxSetup( { "async": true } );

           return LocationList; 

        }
                 function getReasons() {
        var ReasonsList= {};
        $.ajaxSetup( { "async": false } );
        $.getJSON('SaDamageRecoup/CreateReasonsList', function(data) {
        if (data != null) {
            for (var i = 0; i < data.length; i++) {
             ReasonsList[data[i].value]=data[i].text;
                 
              }
            }//if

            });
            $.ajaxSetup( { "async": true } );

           return ReasonsList; 

        }

</script>
}
