@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ReceivedCannabisOrder";
}


<div class="text-center">
    <h4 class="display-5">Received Cannabis Order</h4>
</div>
<body>
    <div class="searchInput">
        <label class="Label" for="orderNumber">Order #:</label>
        <input type="text" class="input" id="orderNumber" />
    </div>
</body>
<table id="ReceivedCannabisOrder"></table>
<div id="jqGridPager"></div>
<fieldset class="scheduler-border">
    <div class="mb-3 row">
        <div class="col-lg-12">
            <button class="btn btn-secondary btn-lg btn-block" style="font-size:12px;" id="search" type="button"> Search </button>
        </div>
    </div>
</fieldset>
@section scripts {

    <script type="text/javascript">

        $.jgrid.defaults.styleUI = 'Bootstrap';
        $.jgrid.defaults.responsive = true;
        var header = false;
        var curRowId = -1;
        $(document).ready(function () {
            $("#ReceivedCannabisOrder").jqGrid({
                url: 'ReceivedCannabisOrder/GetAll',
                mtype: "GET",
                guiStyle: "bootstrap",
                iconSet: "fontAwesome",
                idPrefix: "gb1_",
                datatype: "json",
                ajaxSelectOptions: {
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    cache: false,
                },
                autowidth: true,
                colModel: [
                    {
                        label: "Edit Actions",
                        name: "actions",
                        width: 100,
                        formatter: "actions",
                        fixed: true,
                        formatoptions: {
                            keys: true,
                            editOptions: {},
                            addOptions: {},
                            delOptions: { url: 'ReceivedCannabisOrder/Delete' }
                        }
                    },
                    { label: 'Customer Order Detail Id', name: 'customerOrderDtlsID', editable: true, hidden: true, editoptions: { readonly: 'readonly' } },//, key: true },
                    { label: 'Customer Order Id', name: 'customerOrderID', hidden: true, editable: true, editoptions: { readonly: 'readonly' } },
                    {
                        label: 'Product Desc', name: 'productDesc', fixed: true, width: 150, editable: false, editrules: { required: true, custom: true, custom_func: IsProduct },
                        editoptions: {
                            dataInit: function (elem) {
                                curRowId = $('#ReceivedCannabisOrder').getGridParam('selrow');
                                $(elem).select();
                                $(elem).autocomplete({
                                    source: getProductName(), autoFocus: true, minLength: 0, select: function (event, ui) {
                                        $('#ReceivedCannabisOrder').jqGrid('setCell', curRowId, 'productSku', getProductSku(ui.item.value));
                                        $('input#productSku').val(getProductSku(ui.item.value));
                                        $('#ReceivedCannabisOrder').jqGrid('setCell', curRowId, 'stockQty', getProductSku(ui.item.value));
                                        $('input#stockQty').val(getStockQty(ui.item.value));
                                    }
                                });
                            }
                        }
                    },
                    { label: 'Product (SKU)', name: 'productSku', fixed: true, width: 125, edittype: 'text', editoptions: { readonly: 'readonly' } },
                 //   { label: 'Stock Qty', name: 'stockQty', fixed: true, width: 100, editable: false, edittype: 'text', editoptions: { readonly: 'readonly' } },
                    { label: 'Qty Ordered', name: 'qtyOrdered', fixed: true, width: 100, editable: false, edittype: 'text', editrules: { number: true } },
                    { label: 'Qty Received', name: 'qtyFulfilled', fixed: true, width: 100, editable: true, edittype: 'text', editrules: { number: true } },
                 //   { label: 'Qty Received', name: 'qtyFulfilled', editable: true, edittype: 'text', editrules: { custom: true, custom_func: qtyFulfilled } },
                    { label: 'Notes', name: 'notes', editable: true, fixed: true, width: 450, edittype: 'text' }

                ],
                viewrecords: true,
                height: 388.5,
                rowHeight: 20,
                rowNum: 15,
                pager: "#jqGridPager",
                editurl: 'ReceivedCannabisOrder/Update',

            })




            $('#ReceivedCannabisOrder').navGrid('#jqGridPager',
                // the buttons to appear on the toolbar of the grid
                { edit: false, add: false, del: false, search: false, refresh: false, view: false, position: "left", cloneToTop: false },

                {

                },
                {
                    zIndex: 99,
                    afterShowForm: function () {
                        var idSelector = $.jgrid.jqID(this.p.id);
                        //if(header==false) {
                        //$.jgrid.hideModal("#editmod" + idSelector, {gbox: "#gbox_" + idSelector});
                        //alert("Error: Need Header");
                        //}
                    },
                    //onclickSubmit: function (){
                    //},
                    afterSubmit: function () {
                    },
                    beforeSubmit: function () {
                        //var customer = $("#customer").val();
                        //var orderNumber = $("#orderNumber").val();
                        //var dateOrdered = $("#dateOrdered").val();
                        //var customerOrderStatus = $("#customerOrderStatus").val();
                        //var driver = $("#driver").val();
                        //var dsSlipNumber = $("#dsSlipNumber").val();
                        //var deliveryReqDate = $("#deliveryReqDate").val();
                        //var specialInstructions = $("#specialInstructions").val();
                        //var carrier = $("#carrier").val();
                        //$.getJSON('ReceivedCannabisOrder/CreateHeader?data=' + customer + '/' + orderNumber + '/' + dateOrdered + '/' + customerOrderStatus + '/' + driver + '/' + dsSlipNumber + '/' + deliveryReqDate + '/' + specialInstructions + '/' + carrier, function () { });
                        //$.ajaxSetup({ "async": true });
                    },
                    closeAfterAdd: true,
                    recreateForm: true,
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    },
                    url: 'ReceivedCannabisOrder/Add'
                });

        });
        $(document).ready(function () {
            $('#dateOrdered').val(date());
            $('#deliveryReqDate').val(date());
        });

        $('#ReceivedCannabisOrder').setGridWidth(parseInt($(window).width()) - 20);
        $("#search").on('click', function () {
            var orderNumber = $("#orderNumber").val();
            $.ajaxSetup({ "async": false });
            $.getJSON('ReceivedCannabisOrder/CreateSearch?data=' + orderNumber, function () { });
            $.ajaxSetup({ "async": true });

            $('#ReceivedCannabisOrder').setGridParam({ page: 1 }).trigger("reloadGrid");


        });
        function IsProduct(value, colname) {
            var containsProduct = false;
            $.ajaxSetup({ "async": false });
            $.getJSON('ReceivedCannabisOrder/CreateProductName', function (data) {
                if (data != null) {


                    for (var i = 0; i < data.length; i++) {
                        if (value == data[i].value) {

                            containsProduct = true;

                        }
                    }
                }//if

            });
            if (containsProduct == true) {
                $.ajaxSetup({ "async": true });
                return [true, ""];
            }
            else {
                $.ajaxSetup({ "async": true });
                return [false, "Please Enter Valid Product"];
            }

        }

        function qtyFulfilled(value, colname) {
            var qtyOrdered = $("#ReceivedCannabisOrder").jqGrid("getCol", "qtyOrdered")
            if (isNumeric(value)) {
                if (qtyOrdered > value) {
                    return [false, "pending less than fulfilled"];
                }
            }
            return [true, ""];
        }

        function getProductSku(value) {
            var ProductSku = "";
            $.ajaxSetup({ "async": false });
            $.getJSON('ReceivedCannabisOrder/CreateProductSkuList', function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].value == value) {

                            ProductSku = data[i].text;
                        }
                    }
                }//if

            });
            $.ajaxSetup({ "async": true });
            return ProductSku.toString();

        }
        function getProductName() {
            var ProductNameList = [];
            $.ajaxSetup({ "async": false });
            $.getJSON('ReceivedCannabisOrder/CreateProductName', function (data) {
                if (data != null) {


                    for (var i = 0; i < data.length; i++) {
                        ProductNameList[i] = data[i].value;
                    }
                }//if

            });
            $.ajaxSetup({ "async": true });


            return ProductNameList;

        }
        function getStockQty(value) {
            var StockQty = "";
            $.ajaxSetup({ "async": false });
            $.getJSON('ReceivedCannabisOrder/CreateStockQtyList', function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].value == value) {

                            StockQty = data[i].text;
                        }
                    }
                }//if

            });
            $.ajaxSetup({ "async": true });
            return StockQty;

        }

    </script>
}

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>

